*{
    margin: 0;
    padding: 0;
}
.top-section{
    width: 30%;
    float: left;
    margin-left: 12%;
    padding-top: 100px;
}
.header img{
    width: 100%;
}                                                             
.name-highlight{
    color: crimson;
}
.button{
    text-decoration: none;
    background-color: crimson;
    padding: 10px 20px;
    border-radius: 3px;
    color: white;
}
.header,h2,h3{
    padding-bottom: 10px;
}
.section1{
    padding-top: 15%;
}
.header{
    background-image: url(img/header-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
section{
    height: 600px;
}
.second-section{
    width: 30%;
    float: left;
    margin-left: 12%;
}
.middle img{
    width: 100%;
}
.section2{
    padding-top: 10%;
}
.middle{
    padding-top: 7%;
    background-image: url(img/biography-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.third img{
    width: 100%;
}
.work{
    width: 25%;
    float: left;
    margin: 0% 4%;

}
.third h2{
    font-size: 40px;
    text-align: center;
    margin: 5% 0%;
}
.third{
    background-image: url(img/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 400px;
}
.last-section{
    height: 600px;
    margin-top: 8%;
    background-image: url(img/footer-bg.png);
    background-position: center;
    background-size:100% 124%;
    
}
.info-text{
    text-align: center;
}
.title{
    padding-bottom: 5%;
}
.subtitle{
    padding-bottom: 2%;
}
.info{
    padding-bottom: 3%;
}
.contact{
    background-image: linear-gradient(180deg, lightsalmon,crimson);
    display: inline-block;
    padding: 50px 200px;
    border-radius: 8px;
}
.contact p{
    padding-bottom: 15%;
}
.link{
    text-decoration: none;
    color: white;
}
footer{
    text-align: center;
    margin-top: 10%;
}
footer p{
    font-size: 12px;
    color: gray;
}